{
  "openapi": "3.0.0",
  "info": {
    "version": "2.6.0",
    "title": "HCP Terraform API v2",
    "description": "OpenAPI Specification for the HCP Terraform API V2",
    "license": {
      "name": "MPL-2.0",
      "url": "https://www.mozilla.org/en-US/MPL/2.0/"
    },
    "contact": {
      "name": "API Support",
      "url": "https://developer.hashicorp.com/terraform/cloud-docs/api-docs"
    }
  },
  "servers": [
    {
      "url": "https://app.terraform.io/api/v2"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "accounts",
      "x-displayName": "Accounts",
      "description": "Account actions",
      "externalDocs": {
        "url": "https://developer.hashicorp.com/terraform/cloud-docs/api-docs/account"
      }
    },
    {
      "name": "agent-pools",
      "x-displayName": "Agents and Agent Pools",
      "description": "Agent and Agent Pool actions",
      "externalDocs": {
        "url": "https://developer.hashicorp.com/terraform/cloud-docs/api-docs/agents"
      }
    },
    {
      "name": "auditing",
      "x-displayName": "Auditing",
      "description": "Auditing actions",
      "externalDocs": {
        "url": "https://developer.hashicorp.com/terraform/cloud-docs/api-docs/audit-trails"
      }
    },
    {
      "name": "feature-sets",
      "x-vis": [
        "hcpt"
      ],
      "x-displayName": "Feature Sets",
      "description": "Feature set actions representing different pricing plans",
      "externalDocs": {
        "url": "https://developer.hashicorp.com/terraform/cloud-docs/api-docs/feature-sets"
      }
    },
    {
      "name": "configuration-versions",
      "x-displayName": "Configuration Versions",
      "description": "Configuration Version actions",
      "externalDocs": {
        "url": "https://developer.hashicorp.com/terraform/cloud-docs/api-docs/configuration-versions"
      }
    },
    {
      "name": "organizations",
      "x-displayName": "Organizations",
      "description": "Organization actions",
      "externalDocs": {
        "url": "https://developer.hashicorp.com/terraform/cloud-docs/api-docs/organizations"
      }
    },
    {
      "name": "organization-memberships",
      "x-displayName": "Organization Memberships",
      "description": "Organization membership management, including inviting and removing members",
      "externalDocs": {
        "url": "https://developer.hashicorp.com/terraform/cloud-docs/api-docs/organization-memberships"
      }
    },
    {
      "name": "projects",
      "x-displayName": "Projects",
      "description": "Project actions",
      "externalDocs": {
        "url": "https://developer.hashicorp.com/terraform/cloud-docs/api-docs/projects"
      }
    },
    {
      "name": "registry",
      "x-displayName": "Registry",
      "description": "Private Registry actions",
      "externalDocs": {
        "url": "https://developer.hashicorp.com/terraform/cloud-docs/registry"
      }
    },
    {
      "name": "runs",
      "x-displayName": "Runs",
      "description": "Run actions",
      "externalDocs": {
        "url": "https://developer.hashicorp.com/terraform/cloud-docs/api-docs/run"
      }
    },
    {
      "name": "plans",
      "x-displayName": "Plans",
      "description": "Plan actions",
      "externalDocs": {
        "url": "https://developer.hashicorp.com/terraform/cloud-docs/api-docs/plans"
      }
    },
    {
      "name": "applies",
      "x-displayName": "Applies",
      "description": "Applies",
      "externalDocs": {
        "url": "https://developer.hashicorp.com/terraform/cloud-docs/api-docs/applies"
      }
    },
    {
      "name": "authentication-tokens",
      "x-displayName": "Authentication Tokens",
      "description": "Authentication Token Actions",
      "externalDocs": {
        "url": "https://developer.hashicorp.com/terraform/cloud-docs/users-teams-organizations/api-tokens"
      }
    },
    {
      "name": "teams",
      "x-displayName": "Teams",
      "description": "Team management actions",
      "externalDocs": {
        "url": "https://developer.hashicorp.com/terraform/cloud-docs/api-docs/teams"
      }
    },
    {
      "name": "vcs",
      "x-displayName": "Version Control System",
      "description": "Operations related to VCS repositories and files",
      "externalDocs": {
        "url": "https://developer.hashicorp.com/terraform/cloud-docs/vcs"
      }
    },
    {
      "name": "queries",
      "x-displayName": "Queries",
      "description": "Query actions",
      "externalDocs": {
        "url": "https://developer.hashicorp.com/terraform/cloud-docs/api-docs/queries"
      }
    }
  ],
  "paths": {
    "/account/details": {
      "get": {
        "operationId": "getAccountDetails",
        "summary": "Account Details",
        "description": "Get your account details",
        "tags": [
          "accounts"
        ],
        "responses": {
          "200": {
            "description": "Account details",
            "content": {
              "application/vnd.api+json": {
                "examples": {
                  "successResponse": {
                    "summary": "Example successful response",
                    "value": {
                      "data": {
                        "type": "users",
                        "id": "user-12345678"
                      }
                    }
                  }
                },
                "schema": {
                  "description": "User resource representing the account details of the authenticated user.\nFor internal reasons, HCP Terraform associates team and organization tokens\nwith a synthetic user account called service user.\n",
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/user"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    },
    "/account/update": {
      "patch": {
        "operationId": "updateAccount",
        "summary": "Update account",
        "description": "Update your username and email address",
        "tags": [
          "accounts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/account_update"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account updated",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/user"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    },
    "/account/password": {
      "patch": {
        "operationId": "updateAccountPassword",
        "summary": "Update account password",
        "description": "Change your account password",
        "tags": [
          "accounts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/account_password"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account updated",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/user"
                }
              }
            }
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    },
    "/account/hcp-organizations/{hcp_organization_id}": {
      "x-vis": [
        "hcpt"
      ],
      "get": {
        "operationId": "getHCPOrganization",
        "summary": "HCP Organization",
        "tags": [
          "accounts"
        ],
        "description": "Get details of a specific HCP organization",
        "parameters": [
          {
            "name": "hcp_organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/hcp-organization"
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/hcp-billing-account"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    },
    "/feature-sets": {
      "x-vis": [
        "hcpt"
      ],
      "get": {
        "summary": "List Feature Sets",
        "description": "Lists the feature sets available in HCP Terraform. Returns feature sets that are active, current, and public.",
        "operationId": "listFeatureSets",
        "tags": [
          "feature-sets"
        ],
        "parameters": [
          {
            "name": "page[number]",
            "in": "query",
            "required": false,
            "description": "The page number to request. If omitted, the endpoint will return the first page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "required": false,
            "description": "The number of feature sets per page. If omitted, the endpoint will return 20 feature sets per page.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved feature sets",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/feature-set"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_name}/feature-sets": {
      "x-vis": [
        "hcpt"
      ],
      "get": {
        "summary": "List Feature Sets for Organization",
        "description": "Lists the feature sets a particular organization is eligible to access.",
        "operationId": "listOrganizationFeatureSets",
        "tags": [
          "feature-sets"
        ],
        "parameters": [
          {
            "name": "organization_name",
            "in": "path",
            "required": true,
            "description": "The name of the organization",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page[number]",
            "in": "query",
            "required": false,
            "description": "The page number to request. If omitted, the endpoint will return the first page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "required": false,
            "description": "The number of feature sets per page. If omitted, the endpoint will return 20 feature sets per page.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved feature sets for the organization",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/feature-set"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "404": {
            "description": "Organization not found",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_name}/agent-pools": {
      "post": {
        "operationId": "createAgentPool",
        "summary": "Create Agent Pool",
        "description": "Create an agent pool for an organization.",
        "tags": [
          "agent-pools"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization_name",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Name of the organization"
          }
        ],
        "responses": {
          "200": {
            "description": "Agent pool created",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/agent-pool"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listAgentPools",
        "summary": "List Agent Pools",
        "description": "List agent pools, their agents, and their tokens for an organization.",
        "tags": [
          "agent-pools"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization_name",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Name of the organization"
          },
          {
            "in": "query",
            "name": "page[number]",
            "schema": {
              "type": "integer"
            },
            "required": false,
            "description": "If omitted, the endpoint will return the first page."
          },
          {
            "in": "query",
            "name": "page[size]",
            "schema": {
              "type": "integer"
            },
            "required": false,
            "description": "If omitted, the endpoint will return 20 agents per page."
          },
          {
            "in": "query",
            "name": "filter[allowed-workspaces][name]",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Filters agent pools to those associated with the given workspace. The workspace must have permission to use the agent pool."
          },
          {
            "in": "query",
            "name": "q",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "A search query string. Agent pools are searchable by name."
          },
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Allows sorting the returned agents pools. Valid values are \"name\" and \"created-at\". Prepending a hyphen to the sort parameter will reverse the order (e.g. \"-name\")."
          }
        ],
        "responses": {
          "200": {
            "description": "Agent pools",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/agent-pool"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "pagination": {
                          "$ref": "#/components/schemas/pagination"
                        }
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/self-with-pagination"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    },
    "/agent-pools/{agent_pool_id}": {
      "get": {
        "operationId": "getAgentPool",
        "summary": "Get Agent Pool details",
        "description": "Get details about an agent pool",
        "tags": [
          "agent-pools"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "agent_pool_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Agent Pool ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Agent pool details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/agent-pool"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateAgentPool",
        "summary": "Update Agent Pool",
        "description": "Update an agent pool",
        "tags": [
          "agent-pools"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "agent_pool_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Agent Pool ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/agent-pool"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent pool updated",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/agent-pool"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteAgentPool",
        "summary": "Delete Agent Pool",
        "description": "Delete an agent pool",
        "tags": [
          "agent-pools"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "agent_pool_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Agent Pool ID"
          }
        ],
        "responses": {
          "204": {
            "description": "Agent pool deleted"
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    },
    "/agent-pools/{agent_pool_id}/agents": {
      "get": {
        "operationId": "listAgents",
        "summary": "List Agents",
        "description": "List all agents in the specified agent pool.",
        "tags": [
          "agent-pools"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "agent_pool_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The ID of the Agent Pool to list."
          },
          {
            "in": "query",
            "name": "filter[last-ping-since]",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "required": false,
            "description": "Accepts a date in ISO8601 format (ex. `2020-08-11T10:41:23Z`)."
          },
          {
            "in": "query",
            "name": "page[number]",
            "schema": {
              "type": "integer"
            },
            "required": false,
            "description": "If omitted, the endpoint will return the first page."
          },
          {
            "in": "query",
            "name": "page[size]",
            "schema": {
              "type": "integer"
            },
            "required": false,
            "description": "If omitted, the endpoint will return 20 agents per page."
          },
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Allows sorting the returned agents. Valid value is \"created-at\". Prepending a hyphen to the sort parameter will reverse the order (e.g. \"-name\")."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/agent"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "pagination": {
                          "$ref": "#/components/schemas/pagination"
                        }
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/self-with-pagination"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Agent Pool not found, or user unauthorized to perform action",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    },
    "/agents/{agent_id}": {
      "get": {
        "operationId": "getAgent",
        "summary": "Get Agent details",
        "description": "Get details about an agent",
        "tags": [
          "agent-pools"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "agent_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Agent ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Agent details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/agent"
                }
              }
            }
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteAgent",
        "summary": "Delete Agent",
        "description": "Remove an agent",
        "tags": [
          "agent-pools"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "agent_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Agent ID"
          }
        ],
        "responses": {
          "204": {
            "description": "Agent removed"
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    },
    "/organizations": {
      "get": {
        "operationId": "listOrganizations",
        "summary": "List Organizations",
        "description": "List organizations.",
        "tags": [
          "organizations"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "include",
            "schema": {
              "type": "string",
              "enum": [
                "subscription"
              ]
            },
            "required": false,
            "description": "Optionally side-load relationships of the specified name"
          },
          {
            "in": "query",
            "name": "q",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "A search query string. Organizations are searchable by name and notification email."
          },
          {
            "in": "query",
            "name": "q[email]",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "A search query string. This query searches organizations by notification email."
          },
          {
            "in": "query",
            "name": "q[name]",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "A search query string. This query searches organizations by name."
          },
          {
            "in": "query",
            "name": "page[number]",
            "schema": {
              "type": "integer"
            },
            "required": false,
            "description": "Defaults to the first page, if omitted when `page[size]` is provided."
          },
          {
            "in": "query",
            "name": "page[size]",
            "schema": {
              "type": "integer"
            },
            "required": false,
            "description": "Defaults to 20 organizations per page, if omitted when `page[number]` is provided."
          }
        ],
        "responses": {
          "200": {
            "description": "Organizations list",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/organization"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "pagination": {
                          "$ref": "#/components/schemas/pagination"
                        }
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/self-with-pagination"
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/subscription"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createOrganization",
        "summary": "Create Organization",
        "description": "Create an organization.",
        "tags": [
          "organizations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/organization"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Organization created",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/organization"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_name}": {
      "get": {
        "operationId": "getOrganization",
        "summary": "Get Organization details",
        "description": "Get details about an organization.",
        "tags": [
          "organizations"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization_name",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Organization Name"
          },
          {
            "in": "query",
            "name": "include",
            "schema": {
              "type": "string",
              "enum": [
                "subscription"
              ]
            },
            "required": false,
            "description": "Optionally side-load relationships of the specified name"
          }
        ],
        "responses": {
          "200": {
            "description": "Organization details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/organization"
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/subscription"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "organizations"
        ],
        "operationId": "updateOrganization",
        "summary": "Update Organization",
        "description": "Update an organization.",
        "parameters": [
          {
            "in": "path",
            "name": "organization_name",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Organization Name"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/organization"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Organization updated",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/organization"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "organizations"
        ],
        "operationId": "updateOrganization",
        "summary": "Update Organization",
        "description": "Update an organization.",
        "parameters": [
          {
            "in": "path",
            "name": "organization_name",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Organization Name"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/organization"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Organization updated",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/organization"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteOrganization",
        "summary": "Delete Organization",
        "description": "Delete an organization.",
        "tags": [
          "organizations"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization_name",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Organization Name"
          }
        ],
        "responses": {
          "204": {
            "description": "Organization deleted"
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_name}/organization-memberships": {
      "get": {
        "operationId": "listOrganizationMemberships",
        "summary": "List Organization Memberships",
        "description": "List all memberships in an organization. This includes both active members and invited users who have not yet accepted their invitation.",
        "tags": [
          "organization-memberships"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization_name",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The name of the organization to list memberships for"
          },
          {
            "in": "query",
            "name": "q",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "A search query string. Memberships are searchable by user name or email (case-insensitive)."
          },
          {
            "in": "query",
            "name": "filter[status]",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "invited"
              ]
            },
            "required": false,
            "description": "Filter memberships by status. Can be \"active\" or \"invited\"."
          },
          {
            "in": "query",
            "name": "filter[email]",
            "schema": {
              "type": "string",
              "format": "email"
            },
            "required": false,
            "description": "Filter memberships by exact email address match."
          },
          {
            "in": "query",
            "name": "include",
            "schema": {
              "type": "string",
              "enum": [
                "user",
                "teams"
              ]
            },
            "required": false,
            "description": "Optionally side-load relationships. Can include \"user\" or \"teams\"."
          },
          {
            "in": "query",
            "name": "page[number]",
            "schema": {
              "type": "integer"
            },
            "required": false,
            "description": "If omitted, the endpoint will return the first page."
          },
          {
            "in": "query",
            "name": "page[size]",
            "schema": {
              "type": "integer"
            },
            "required": false,
            "description": "If omitted, the endpoint will return 20 memberships per page."
          }
        ],
        "responses": {
          "200": {
            "description": "Organization memberships list",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/organization-membership"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "pagination": {
                          "$ref": "#/components/schemas/pagination"
                        }
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/self-with-pagination"
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/user"
                          },
                          {
                            "$ref": "#/components/schemas/team"
                          },
                          {
                            "$ref": "#/components/schemas/organization"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid filter or include parameter",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "404": {
            "description": "Organization not found, or user unauthorized to perform action",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createOrganizationMembership",
        "summary": "Invite a User to an Organization",
        "description": "Invite a user to join an organization. Users can be invited by email address.",
        "tags": [
          "organization-memberships"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization_name",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The name of the organization the user will be invited to join"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type",
                      "attributes"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "organization-memberships"
                        ]
                      },
                      "attributes": {
                        "type": "object",
                        "required": [
                          "email"
                        ],
                        "properties": {
                          "email": {
                            "type": "string",
                            "format": "email",
                            "description": "The email address of the user to be invited"
                          }
                        }
                      },
                      "relationships": {
                        "type": "object",
                        "properties": {
                          "teams": {
                            "type": "object",
                            "required": [
                              "data"
                            ],
                            "description": "A list of teams the invited user will be a member of. All users must be added to at least one team.",
                            "properties": {
                              "data": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "required": [
                                    "id",
                                    "type"
                                  ],
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "description": "The team ID"
                                    },
                                    "type": {
                                      "type": "string",
                                      "enum": [
                                        "teams"
                                      ]
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "examples": {
                "inviteUser": {
                  "summary": "Invite a user to an organization with team memberships",
                  "value": {
                    "data": {
                      "type": "organization-memberships",
                      "attributes": {
                        "email": "user@example.com"
                      },
                      "relationships": {
                        "teams": {
                          "data": [
                            {
                              "type": "teams",
                              "id": "team-GeLZkdnK6xAVjA5H"
                            },
                            {
                              "type": "teams",
                              "id": "team-XxEoUFzP9pW3r5d1"
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully invited the user",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/organization-membership"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unable to invite user due to organization limits",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "404": {
            "description": "Organization not found, or user unauthorized to perform action",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "422": {
            "description": "Unable to invite user due to validation errors (e.g., invalid email, missing teams)",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    },
    "/organization-memberships": {
      "get": {
        "operationId": "listUserOrganizationMemberships",
        "summary": "List User's Own Organization Memberships",
        "description": "List all organization memberships for the currently authenticated user.",
        "tags": [
          "organization-memberships"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "include",
            "schema": {
              "type": "string",
              "enum": [
                "user",
                "teams",
                "organization"
              ]
            },
            "required": false,
            "description": "Optionally side-load relationships. Can include \"user\", \"teams\", or \"organization\"."
          }
        ],
        "responses": {
          "200": {
            "description": "User's organization memberships list",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/organization-membership"
                      }
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/user"
                          },
                          {
                            "$ref": "#/components/schemas/team"
                          },
                          {
                            "$ref": "#/components/schemas/organization"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    },
    "/organization-memberships/{organization_membership_id}": {
      "get": {
        "operationId": "getOrganizationMembership",
        "summary": "Show Organization Membership",
        "description": "Get details about a specific organization membership.",
        "tags": [
          "organization-memberships"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization_membership_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The organization membership ID"
          },
          {
            "in": "query",
            "name": "include",
            "schema": {
              "type": "string",
              "enum": [
                "user",
                "teams"
              ]
            },
            "required": false,
            "description": "Optionally side-load relationships. Can include \"user\" or \"teams\"."
          }
        ],
        "responses": {
          "200": {
            "description": "Organization membership details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/organization-membership"
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/user"
                          },
                          {
                            "$ref": "#/components/schemas/team"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Organization membership not found, or user unauthorized to perform action",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteOrganizationMembership",
        "summary": "Remove User from Organization",
        "description": "Remove a user from an organization. You cannot remove yourself from organizations which you own.",
        "tags": [
          "organization-memberships"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization_membership_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The organization membership ID"
          }
        ],
        "responses": {
          "204": {
            "description": "Successfully removed the user from the organization"
          },
          "403": {
            "description": "Unable to remove the user. You cannot remove yourself from organizations which you own.",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "404": {
            "description": "Organization membership not found, or user unauthorized to perform action",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_name}/projects": {
      "get": {
        "operationId": "listProjects",
        "summary": "List Projects",
        "description": "List all projects in an organization.",
        "tags": [
          "projects"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization_name",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The name of the organization."
          },
          {
            "in": "query",
            "name": "page[number]",
            "schema": {
              "type": "integer"
            },
            "required": false,
            "description": "Page number for pagination."
          },
          {
            "in": "query",
            "name": "page[size]",
            "schema": {
              "type": "integer"
            },
            "required": false,
            "description": "Page size for pagination."
          },
          {
            "in": "query",
            "name": "filter[names]",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Comma-separated list of project names to filter by."
          },
          {
            "in": "query",
            "name": "filter[permissions][create-workspace]",
            "schema": {
              "type": "boolean"
            },
            "required": false,
            "description": "If present, returns a list of projects that the authenticated user can create workspaces in."
          },
          {
            "in": "query",
            "name": "filter[permissions][update]",
            "schema": {
              "type": "boolean"
            },
            "required": false,
            "description": "If present, returns a list of projects that the authenticated user can update."
          },
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Optional. Allows sorting the organization's projects by \"name\". Prepending a hyphen to the sort parameter reverses the order. For example, \"-name\" sorts by name in reverse alphabetical order. If omitted, the default sort order is arbitrary but stable.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "List of projects",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/project"
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/self-with-pagination"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/pagination"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createProject",
        "summary": "Create a Project",
        "description": "Create a new project in an organization.",
        "tags": [
          "projects"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization_name",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The name of the organization."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type",
                      "attributes"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "projects"
                        ]
                      },
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string",
                            "nullable": true
                          },
                          "auto-destroy-activity-duration": {
                            "type": "string",
                            "nullable": true
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Project created",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/project"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}": {
      "get": {
        "operationId": "getProject",
        "summary": "Get Project",
        "description": "Get details of a specific project.",
        "tags": [
          "projects"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The ID of the project."
          }
        ],
        "responses": {
          "200": {
            "description": "Project details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/project"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateProject",
        "summary": "Update Project",
        "description": "Update an existing project.",
        "tags": [
          "projects"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The ID of the project."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type",
                      "attributes"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "projects"
                        ]
                      },
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string",
                            "nullable": true
                          },
                          "auto-destroy-activity-duration": {
                            "type": "string",
                            "nullable": true
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Project updated",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/project"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteProject",
        "summary": "Delete Project",
        "description": "Delete a project.",
        "tags": [
          "projects"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The ID of the project."
          }
        ],
        "responses": {
          "204": {
            "description": "Project deleted"
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/relationships/workspaces": {
      "post": {
        "operationId": "moveWorkspacesIntoProject",
        "summary": "Move Workspaces into a Project",
        "description": "Move one or more workspaces into a project. You must have permission to move workspaces on the destination project as well as any source project(s). If you are not authorized to move any of the workspaces in the request, or if any workspaces in the request are not found, then no workspaces will be moved.\n",
        "tags": [
          "projects"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The ID of the destination project."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "type",
                        "id"
                      ],
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "workspaces"
                          ]
                        },
                        "id": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Successfully moved workspace(s)."
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspace_id}/queries": {
      "x-vs": [
        "internal-beta"
      ],
      "get": {
        "operationId": "getWorkspaceQueries",
        "summary": "Get Queries for a Workspace",
        "description": "Get list of queries for a particular workspace.",
        "tags": [
          "queries"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspace_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The id of the workspace."
          },
          {
            "in": "query",
            "name": "page[number]",
            "schema": {
              "type": "integer"
            },
            "required": false,
            "description": "Page number for pagination."
          },
          {
            "in": "query",
            "name": "page[size]",
            "schema": {
              "type": "integer"
            },
            "required": false,
            "description": "Page size for pagination."
          }
        ],
        "responses": {
          "200": {
            "description": "List of Queries",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/query"
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/self-with-pagination"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/pagination"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspace_id}/all-vars": {
      "get": {
        "operationId": "listAllVars",
        "summary": "List All Variables Accessible to a Workspace",
        "description": "This API returns the list of all variables that are accessible to a workspace. This includes variables defined directly on the workspace as well as variables inherited from any variable sets attached to the workspace.",
        "tags": [
          "vars"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspace_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The external ID of the workspace."
          }
        ],
        "responses": {
          "200": {
            "description": "List of all variables accessible to a workspace",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/var"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspace_id}/resources": {
      "get": {
        "operationId": "listWorkspaceResources",
        "summary": "List Workspace Resources",
        "description": "List all resources in a workspace's current state.",
        "tags": [
          "workspaces"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspace_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The ID of the workspace to retrieve resources from."
          },
          {
            "in": "query",
            "name": "q",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Optional search query to filter resources by address pattern."
          },
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string",
              "enum": [
                "name:asc",
                "name:desc",
                "nameIndex:asc",
                "nameIndex:desc",
                "provider:asc",
                "provider:desc",
                "providerType:asc",
                "providerType:desc",
                "module:asc",
                "module:desc",
                "updatedAt:asc",
                "updatedAt:desc"
              ]
            },
            "required": false,
            "description": "Optional sort parameter. Allows sorting workspace resources by name, nameIndex, provider,  providerType, module, or updatedAt. Format is \"field:order\" where order is \"asc\" or \"desc\".\n"
          },
          {
            "in": "query",
            "name": "page[number]",
            "schema": {
              "type": "integer"
            },
            "required": false,
            "description": "Page number for pagination. If omitted, returns the first page."
          },
          {
            "in": "query",
            "name": "page[size]",
            "schema": {
              "type": "integer"
            },
            "required": false,
            "description": "Number of resources per page. If omitted, returns 20 resources per page."
          }
        ],
        "responses": {
          "200": {
            "description": "List of workspace resources",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/workspace-resource"
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/self-with-pagination"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "pagination": {
                          "$ref": "#/components/schemas/pagination"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Workspace not found or user unauthorized to perform action",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    },
    "/runs": {
      "post": {
        "operationId": "createRun",
        "summary": "Create a Run",
        "description": "Create a new run.",
        "tags": [
          "runs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/run"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Run created",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/run"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listRuns",
        "summary": "List Runs",
        "description": "List all runs in a workspace.",
        "tags": [
          "runs"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "workspace_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Workspace ID"
          },
          {
            "in": "query",
            "name": "organization_name",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Organization Name"
          },
          {
            "in": "query",
            "name": "filter[operation]",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Filter by run operation."
          },
          {
            "in": "query",
            "name": "filter[status]",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Filter by run status."
          },
          {
            "in": "query",
            "name": "page[number]",
            "schema": {
              "type": "integer"
            },
            "required": false,
            "description": "Page number."
          },
          {
            "in": "query",
            "name": "page[size]",
            "schema": {
              "type": "integer"
            },
            "required": false,
            "description": "Page size."
          }
        ],
        "responses": {
          "200": {
            "description": "List of runs",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/run"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "pagination": {
                          "$ref": "#/components/schemas/pagination"
                        }
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/self-with-pagination"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    },
    "/runs/{run_id}": {
      "get": {
        "operationId": "getRun",
        "summary": "Get Run details",
        "description": "Get details about a run.",
        "tags": [
          "runs"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "run_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Run ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Run details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/run"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    },
    "/runs/{run_id}/configuration-version": {
      "get": {
        "operationId": "getRunConfigurationVersion",
        "summary": "Get Run Configuration Version",
        "description": "Get details of a specific configuration version.",
        "tags": [
          "configuration-versions"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "run_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The ID of the run"
          }
        ],
        "responses": {
          "200": {
            "description": "Configuration version details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/configuration-version"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    },
    "/runs/{run_id}/configuration-version/download": {
      "get": {
        "operationId": "downloadRunConfigurationVersion",
        "summary": "Download Run Configuration Version",
        "description": "Generate a temporary URL to download the configuration version files.",
        "tags": [
          "configuration-versions"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "run_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The ID of the run."
          }
        ],
        "responses": {
          "302": {
            "description": "Temporary download URL generated",
            "headers": {
              "Location": {
                "description": "Storage URL to .tar.gz file containing the configuration version",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    },
    "/runs/{run_id}/actions/apply": {
      "post": {
        "operationId": "applyRun",
        "summary": "Apply a Run",
        "description": "Apply a run that is paused waiting for confirmation.",
        "tags": [
          "runs"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "run_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Run ID"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "comment": {
                    "type": "string",
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Successfully queued an apply request"
          },
          "409": {
            "description": "Run was not paused for confirmation; apply not allowed.",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspace_id}/runs": {
      "get": {
        "operationId": "listWorkspaceRuns",
        "summary": "List Runs in a Workspace",
        "description": "List all runs in a workspace.",
        "tags": [
          "runs"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspace_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Workspace ID"
          },
          {
            "in": "query",
            "name": "filter[operation]",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Filter by run operation."
          },
          {
            "in": "query",
            "name": "filter[status]",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Filter by run status."
          },
          {
            "in": "query",
            "name": "page[number]",
            "schema": {
              "type": "integer"
            },
            "required": false,
            "description": "Page number."
          },
          {
            "in": "query",
            "name": "page[size]",
            "schema": {
              "type": "integer"
            },
            "required": false,
            "description": "Page size."
          }
        ],
        "responses": {
          "200": {
            "description": "List of runs",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/run"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "pagination": {
                          "$ref": "#/components/schemas/pagination"
                        }
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/self-with-pagination"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_name}/runs": {
      "get": {
        "operationId": "listOrganizationRuns",
        "summary": "List Runs in an Organization",
        "description": "List all runs in an organization.",
        "tags": [
          "runs"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization_name",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Organization name"
          },
          {
            "in": "query",
            "name": "filter[operation]",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Filter by run operation."
          },
          {
            "in": "query",
            "name": "filter[status]",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Filter by run status."
          },
          {
            "in": "query",
            "name": "filter[timeframe]",
            "schema": {
              "type": "string",
              "default": "year"
            },
            "required": false,
            "description": "Filter by timeframe. Must be a numeric year or \"year\" for the last 12 months (the default)."
          },
          {
            "in": "query",
            "name": "page[number]",
            "schema": {
              "type": "integer"
            },
            "required": false,
            "description": "Page number."
          },
          {
            "in": "query",
            "name": "page[size]",
            "schema": {
              "type": "integer"
            },
            "required": false,
            "description": "Page size."
          }
        ],
        "responses": {
          "200": {
            "description": "List of runs",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/run"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "pagination": {
                          "$ref": "#/components/schemas/pagination-without-totals"
                        }
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/self-with-pagination"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    },
    "/plans/{id}": {
      "get": {
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the plan to show.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "showPlan",
        "summary": "Show a plan",
        "description": "This endpoint returns a specific plan by its ID.",
        "tags": [
          "plans"
        ],
        "responses": {
          "200": {
            "description": "Successfully returned the plan.",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/plan"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    },
    "/plans/{id}/json-output": {
      "get": {
        "operationId": "getPlanJSONOutput",
        "summary": "Get the JSON execution plan",
        "description": "This endpoint generates a temporary authenticated URL to the location of the JSON formatted execution plan.\nWhen successful, this endpoint responds with a temporary redirect that should be followed.\n\nThis endpoint is available for plans using Terraform 0.12 and later.\nThe temporary URL has a life of 1 minute and should not be relied upon beyond the initial request.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the plan to show.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "plans"
        ],
        "responses": {
          "204": {
            "description": "Plan JSON supported, but plan has not yet completed."
          },
          "307": {
            "description": "Plan JSON found and temporary download URL generated.",
            "headers": {
              "Location": {
                "description": "Temporary URL to download the JSON output",
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              }
            }
          },
          "422": {
            "description": "Plan does not use a supported version of Terraform (< 0.12.X).",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    },
    "/runs/{id}/plan/json-schema": {
      "get": {
        "operationId": "getPlanJSONSchemaOutput",
        "summary": "Get the JSON provider schema corresponding to a plan",
        "description": "This endpoint generates a temporary authenticated URL to the location of the JSON formatted provider schema.\nWhen successful, this endpoint responds with a temporary redirect that should be followed.\n\nThis endpoint is available for plans using Terraform 0.12 and later.\nThe temporary URL has a life of 1 minute and should not be relied upon beyond the initial request.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the plan to show.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "plans"
        ],
        "responses": {
          "204": {
            "description": "Plan JSON supported, but plan has not yet completed."
          },
          "307": {
            "description": "Plan JSON found and temporary download URL generated.",
            "headers": {
[...]
