{
  "openapi": "3.0.0",
  "info": {
    "version": "2.6.0",
    "title": "HCP Terraform API v2-Beta",
    "description": "OpenAPI Specification for the HCP Terraform API V2 Public Beta.",
    "license": {
      "name": "MPL-2.0",
      "url": "https://www.mozilla.org/en-US/MPL/2.0/"
    },
    "contact": {
      "name": "API Support",
      "url": "https://developer.hashicorp.com/terraform/cloud-docs/api-docs"
    }
  },
  "servers": [
    {
      "url": "https://app.terraform.io/api/v2"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "accounts",
      "x-displayName": "Accounts",
      "description": "Account actions",
      "externalDocs": {
        "url": "https://developer.hashicorp.com/terraform/cloud-docs/api-docs/account"
      }
    },
    {
      "name": "agent-pools",
      "x-displayName": "Agents and Agent Pools",
      "description": "Agent and Agent Pool actions",
      "externalDocs": {
        "url": "https://developer.hashicorp.com/terraform/cloud-docs/api-docs/agents"
      }
    },
    {
      "name": "audit-trails",
      "x-vis": [
        "hcpt"
      ],
      "x-displayName": "Audit Trails",
      "description": "Audit trail event listing for HCP Terraform organizations",
      "externalDocs": {
        "url": "https://developer.hashicorp.com/terraform/cloud-docs/api-docs/audit-trails"
      }
    },
    {
      "name": "auditing",
      "x-displayName": "Auditing",
      "description": "Auditing actions",
      "externalDocs": {
        "url": "https://developer.hashicorp.com/terraform/cloud-docs/api-docs/audit-trails"
      }
    },
    {
      "name": "feature-sets",
      "x-vis": [
        "hcpt"
      ],
      "x-displayName": "Feature Sets",
      "description": "Feature set actions representing different pricing plans",
      "externalDocs": {
        "url": "https://developer.hashicorp.com/terraform/cloud-docs/api-docs/feature-sets"
      }
    },
    {
      "name": "subscriptions",
      "x-vis": [
        "hcpt"
      ],
      "x-displayName": "Subscriptions",
      "description": "Subscription actions for HCP Terraform billing and feature access",
      "externalDocs": {
        "url": "https://developer.hashicorp.com/terraform/cloud-docs/api-docs/subscriptions"
      }
    },
    {
      "name": "billing-invoices",
      "x-vis": [
        "hcpt"
      ],
      "x-displayName": "Billing Invoices",
      "description": "Billing invoice management for credit-card-billed HCP Terraform organizations",
      "externalDocs": {
        "url": "https://developer.hashicorp.com/terraform/cloud-docs/api-docs/invoices"
      }
    },
    {
      "name": "configuration-versions",
      "x-displayName": "Configuration Versions",
      "description": "Configuration Version actions",
      "externalDocs": {
        "url": "https://developer.hashicorp.com/terraform/cloud-docs/api-docs/configuration-versions"
      }
    },
    {
      "name": "organizations",
      "x-displayName": "Organizations",
      "description": "Organization actions",
      "externalDocs": {
        "url": "https://developer.hashicorp.com/terraform/cloud-docs/api-docs/organizations"
      }
    },
    {
      "name": "organization-memberships",
      "x-displayName": "Organization Memberships",
      "description": "Organization membership management, including inviting and removing members",
      "externalDocs": {
        "url": "https://developer.hashicorp.com/terraform/cloud-docs/api-docs/organization-memberships"
      }
    },
    {
      "name": "token-ttl-policies",
      "x-displayName": "Token TTL Policies",
      "description": "Token TTL policy management, including creating and updating policies"
    },
    {
      "name": "projects",
      "x-displayName": "Projects",
      "description": "Project actions",
      "externalDocs": {
        "url": "https://developer.hashicorp.com/terraform/cloud-docs/api-docs/projects"
      }
    },
    {
      "name": "workspaces",
      "x-displayName": "Workspaces",
      "description": "Workspace management, locking, and related operations",
      "externalDocs": {
        "url": "https://developer.hashicorp.com/terraform/cloud-docs/api-docs/workspaces"
      }
    },
    {
      "name": "varsets",
      "x-displayName": "Variable Sets",
      "description": "Variable set management for organizations, projects, and workspaces",
      "externalDocs": {
        "url": "https://developer.hashicorp.com/terraform/cloud-docs/api-docs/variable-sets"
      }
    },
    {
      "name": "registry",
      "x-displayName": "Registry",
      "description": "Private Registry actions",
      "externalDocs": {
        "url": "https://developer.hashicorp.com/terraform/cloud-docs/registry"
      }
    },
    {
      "name": "runs",
      "x-displayName": "Runs",
      "description": "Run actions",
      "externalDocs": {
        "url": "https://developer.hashicorp.com/terraform/cloud-docs/api-docs/run"
      }
    },
    {
      "name": "run-tasks",
      "x-displayName": "Run Tasks",
      "description": "Run task actions for organizations and workspaces",
      "externalDocs": {
        "url": "https://developer.hashicorp.com/terraform/cloud-docs/api-docs/run-tasks/run-tasks"
      }
    },
    {
      "name": "task-stages",
      "x-displayName": "Run Task Stages and Results",
      "description": "Run task stage and result actions for tracking run task execution",
      "externalDocs": {
        "url": "https://developer.hashicorp.com/terraform/cloud-docs/api-docs/run-tasks/run-task-stages"
      }
    },
    {
      "name": "policies",
      "x-displayName": "Policies",
      "description": "Sentinel and OPA policy management for organizations",
      "externalDocs": {
        "url": "https://developer.hashicorp.com/terraform/cloud-docs/api-docs/policies"
      }
    },
    {
      "name": "policy-checks",
      "x-displayName": "Policy Checks",
      "description": "Sentinel policy check actions for runs",
      "externalDocs": {
        "url": "https://developer.hashicorp.com/terraform/cloud-docs/api-docs/policy-checks"
      }
    },
    {
      "name": "policy-set-params",
      "x-displayName": "Policy Set Parameters",
      "description": "Sentinel policy set parameter management",
      "externalDocs": {
        "url": "https://developer.hashicorp.com/terraform/cloud-docs/api-docs/policy-set-params"
      }
    },
    {
      "name": "policy-sets",
      "x-displayName": "Policy Sets",
      "description": "Policy set management including workspace, project, and policy associations",
      "externalDocs": {
        "url": "https://developer.hashicorp.com/terraform/cloud-docs/api-docs/policy-sets"
      }
    },
    {
      "name": "policy-set-versions",
      "x-displayName": "Policy Set Versions",
      "description": "Policy set version management and policy file uploads",
      "externalDocs": {
        "url": "https://developer.hashicorp.com/terraform/cloud-docs/api-docs/policy-sets"
      }
    },
    {
      "name": "policy-evaluations",
      "x-displayName": "Policy Evaluations",
      "description": "Sentinel and OPA policy evaluation actions for task stages and policy set outcomes",
      "externalDocs": {
        "url": "https://developer.hashicorp.com/terraform/cloud-docs/api-docs/policy-evaluations"
      }
    },
    {
      "name": "run-triggers",
      "x-displayName": "Run Triggers",
      "description": "Run trigger actions",
      "externalDocs": {
        "url": "https://developer.hashicorp.com/terraform/cloud-docs/api-docs/run-triggers"
      }
    },
    {
      "name": "notification-configurations",
      "x-displayName": "Notification Configurations",
      "description": "Notification configuration actions for workspaces and teams",
      "externalDocs": {
        "url": "https://developer.hashicorp.com/terraform/cloud-docs/api-docs/notification-configurations"
      }
    },
    {
      "name": "email-recipient-statuses",
      "x-displayName": "Email Recipient Statuses",
      "description": "Email recipient verification and unsubscribe actions"
    },
    {
      "name": "plans",
      "x-displayName": "Plans",
      "description": "Plan actions",
      "externalDocs": {
        "url": "https://developer.hashicorp.com/terraform/cloud-docs/api-docs/plans"
      }
    },
    {
      "name": "assessment-results",
      "x-displayName": "Assessment Results",
      "description": "Assessment Result actions"
    },
    {
      "name": "plan-exports",
      "x-displayName": "Plan Exports",
      "description": "Plan export actions for downloading exported plan data",
      "externalDocs": {
        "url": "https://developer.hashicorp.com/terraform/cloud-docs/api-docs/plan-exports"
      }
    },
    {
      "name": "applies",
      "x-displayName": "Applies",
      "description": "Applies",
      "externalDocs": {
        "url": "https://developer.hashicorp.com/terraform/cloud-docs/api-docs/applies"
      }
    },
    {
      "name": "cost-estimates",
      "x-displayName": "Cost Estimates",
      "description": "Cost estimate actions",
      "externalDocs": {
        "url": "https://developer.hashicorp.com/terraform/cloud-docs/api-docs/cost-estimates"
      }
    },
    {
      "name": "state-versions",
      "x-displayName": "State Versions",
      "description": "State version actions for reading, creating, and managing Terraform state versions for a workspace",
      "externalDocs": {
        "url": "https://developer.hashicorp.com/terraform/cloud-docs/api-docs/state-versions"
      }
    },
    {
      "name": "state-version-outputs",
      "x-displayName": "State Version Outputs",
      "description": "State version output actions for reading Terraform output values from a state version or a workspace's current state",
      "externalDocs": {
        "url": "https://developer.hashicorp.com/terraform/cloud-docs/api-docs/state-version-outputs"
      }
    },
    {
      "name": "authentication-tokens",
      "x-displayName": "Authentication Tokens",
      "description": "Authentication Token Actions",
      "externalDocs": {
        "url": "https://developer.hashicorp.com/terraform/cloud-docs/users-teams-organizations/api-tokens"
      }
    },
    {
      "name": "users",
      "x-displayName": "Users",
      "description": "User actions",
      "externalDocs": {
        "url": "https://developer.hashicorp.com/terraform/cloud-docs/api-docs/users"
      }
    },
    {
      "name": "teams",
      "x-displayName": "Teams",
      "description": "Team management actions",
      "externalDocs": {
        "url": "https://developer.hashicorp.com/terraform/cloud-docs/api-docs/teams"
      }
    },
    {
      "name": "team-projects",
      "x-displayName": "Team Project Access",
      "description": "Team access management for projects",
      "externalDocs": {
        "url": "https://developer.hashicorp.com/terraform/cloud-docs/api-docs/team-project-access"
      }
    },
    {
      "name": "team-access",
      "x-displayName": "Team Workspace Access",
      "description": "Team access management for workspaces",
      "externalDocs": {
        "url": "https://developer.hashicorp.com/terraform/cloud-docs/api-docs/team-access"
      }
    },
    {
      "name": "vcs",
      "x-displayName": "Version Control System",
      "description": "Operations related to VCS repositories and files",
      "externalDocs": {
        "url": "https://developer.hashicorp.com/terraform/cloud-docs/vcs"
      }
    },
    {
      "name": "oauth-clients",
      "x-displayName": "OAuth Clients",
      "description": "OAuth Client management for VCS provider connections",
      "externalDocs": {
        "url": "https://developer.hashicorp.com/terraform/cloud-docs/api-docs/oauth-clients"
      }
    },
    {
      "name": "oauth-tokens",
      "x-displayName": "OAuth Tokens",
      "description": "OAuth Token management for VCS provider connections",
      "externalDocs": {
        "url": "https://developer.hashicorp.com/terraform/cloud-docs/api-docs/oauth-tokens"
      }
    },
    {
      "name": "github-app-installations",
      "x-displayName": "GitHub App Installations",
      "description": "GitHub App installation management for connecting GitHub accounts and organizations",
      "externalDocs": {
        "url": "https://developer.hashicorp.com/terraform/cloud-docs/api-docs/github-app-installations"
      }
    },
    {
      "name": "vcs-events",
      "x-displayName": "VCS Events",
      "description": "VCS event listing and filtering for an organization",
      "externalDocs": {
        "url": "https://developer.hashicorp.com/terraform/cloud-docs/api-docs/vcs-events"
      }
    },
    {
      "name": "queries",
      "x-displayName": "Queries",
      "description": "Query actions",
      "externalDocs": {
        "url": "https://developer.hashicorp.com/terraform/cloud-docs/api-docs/queries"
      }
    },
    {
      "name": "ssh-keys",
      "x-displayName": "SSH Keys",
      "description": "SSH Key management",
      "externalDocs": {
        "url": "https://developer.hashicorp.com/terraform/cloud-docs/api-docs/ssh-keys"
      }
    },
    {
      "name": "change-requests",
      "x-displayName": "Change Requests",
      "description": "Change request actions for tracking workspace to-dos",
      "externalDocs": {
        "url": "https://developer.hashicorp.com/terraform/cloud-docs/api-docs/change-requests"
      }
    },
    {
      "name": "workspace-transfers",
      "x-displayName": "Workspace Transfers",
      "description": "Transfer workspaces across organizations"
    }
  ],
  "paths": {
    "/account/details": {
      "get": {
        "operationId": "getAccountDetails",
        "summary": "Account Details",
        "description": "Get your account details",
        "tags": [
          "accounts"
        ],
        "responses": {
          "200": {
            "description": "Account details",
            "content": {
              "application/vnd.api+json": {
                "examples": {
                  "successResponse": {
                    "summary": "Example successful response",
                    "value": {
                      "data": {
                        "type": "users",
                        "id": "user-12345678",
                        "attributes": {},
                        "relationships": {},
                        "links": {
                          "self": "https://app.terraform.io/api/v2/account/details"
                        }
                      }
                    }
                  }
                },
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/users-envelope"
                    },
                    {
                      "description": "User resource representing the account details of the authenticated user.\nFor internal reasons, HCP Terraform associates team and organization tokens\nwith a synthetic user account called service user.\n"
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    },
    "/account/update": {
      "patch": {
        "operationId": "updateAccount",
        "summary": "Update account",
        "description": "Update your username and email address. Other attributes are ignored.",
        "tags": [
          "accounts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/users-envelope"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account updated",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/users-envelope"
                }
              }
            }
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    },
    "/account/password": {
      "patch": {
        "operationId": "updateAccountPassword",
        "summary": "Update account password",
        "description": "Change your account password",
        "tags": [
          "accounts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type",
                      "attributes"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "users"
                        ]
                      },
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "current_password": {
                            "type": "string",
                            "description": "The user's current password. Unlike most API data attributes, this one uses underscore_case instead of kebab-case."
                          },
                          "password": {
                            "type": "string",
                            "description": "The user's new password."
                          },
                          "password_confirmation": {
                            "type": "string",
                            "description": "The confirmation of the user's new password. Unlike most API data attributes, this one uses underscore_case instead of kebab-case."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account updated",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/users"
                }
              }
            }
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    },
    "/account/hcp-organizations/{hcp_organization_id}": {
      "x-vis": [
        "hcpt"
      ],
      "get": {
        "operationId": "getHCPOrganization",
        "summary": "HCP Organization",
        "tags": [
          "accounts"
        ],
        "description": "Get details of a specific HCP organization",
        "parameters": [
          {
            "name": "hcp_organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/hcp-organization-envelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "included": {
                          "type": "array",
                          "items": {
                            "anyOf": [
                              {
                                "$ref": "#/components/schemas/hcp-billing-account"
                              }
                            ]
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    },
    "/feature-sets": {
      "x-vis": [
        "hcpt"
      ],
      "get": {
        "summary": "List Feature Sets",
        "description": "Lists the feature sets available in HCP Terraform. Returns feature sets that are active, current, and public.",
        "operationId": "listFeatureSets",
        "tags": [
          "feature-sets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/page_number"
          },
          {
            "$ref": "#/components/parameters/page_size"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved feature sets",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/feature-sets"
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/self-with-pagination"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "pagination": {
                          "$ref": "#/components/schemas/pagination"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_name}/feature-sets": {
      "x-vis": [
        "hcpt"
      ],
      "get": {
        "summary": "List Feature Sets for Organization",
        "description": "Lists the feature sets a particular organization is eligible to access.",
        "operationId": "listOrganizationFeatureSets",
        "tags": [
          "feature-sets"
        ],
        "parameters": [
          {
            "name": "organization_name",
            "in": "path",
            "required": true,
            "description": "The name of the organization",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/page_number"
          },
          {
            "$ref": "#/components/parameters/page_size"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved feature sets for the organization",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/feature-sets"
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/self-with-pagination"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "pagination": {
                          "$ref": "#/components/schemas/pagination"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "404": {
            "description": "Organization not found",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{id}": {
      "x-vis": [
        "hcpt"
      ],
      "get": {
        "operationId": "showSubscription",
        "summary": "Show a subscription",
        "description": "Show details of a subscription.",
        "tags": [
          "subscriptions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the subscription to show.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/subscriptions-envelope"
                }
              }
            }
          },
          "default": {
            "description": "Subscription not found, or user unauthorized to perform action",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_name}/invoices": {
      "x-vis": [
        "hcpt"
      ],
      "get": {
        "operationId": "listOrganizationInvoices",
        "summary": "List organization invoices",
        "description": "Lists the previous invoices for an organization. This endpoint uses cursor-based pagination with a fixed page size of 10 items. Pass the value of meta.continuation as the cursor parameter to retrieve the next page. When meta.continuation is null there are no further pages.",
        "tags": [
          "billing-invoices"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization_name",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The name of the organization."
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "The ID of the invoice where the page should start. If omitted, the endpoint returns the first page."
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice list",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/billing-invoices"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "continuation": {
                          "type": "string",
                          "nullable": true,
                          "description": "The cursor value to use for the next page request. Null when there are no more items."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unauthorized, forbidden, or not found",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_name}/invoices/next": {
      "x-vis": [
        "hcpt"
      ],
      "get": {
        "operationId": "showOrganizationNextInvoice",
        "summary": "Get next invoice",
        "description": "Returns the upcoming invoice for the next billing period for an organization. Returns null when no upcoming invoice is available.",
        "tags": [
          "billing-invoices"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization_name",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The name of the organization."
          }
        ],
        "responses": {
          "200": {
            "description": "Upcoming invoice, or null if none is available",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "nullable": true,
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/billing-invoices"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unauthorized, forbidden, or not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_name}/agent-pools": {
      "post": {
        "operationId": "createAgentPool",
        "summary": "Create Agent Pool",
        "description": "Create an agent pool for an organization.",
        "tags": [
          "agent-pools"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization_name",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Name of the organization"
          }
        ],
        "responses": {
          "200": {
            "description": "Agent pool created",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/agent-pools-envelope"
                }
              }
            }
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listAgentPools",
        "summary": "List Agent Pools",
        "description": "List agent pools, their agents, and their tokens for an organization.",
        "tags": [
          "agent-pools"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization_name",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Name of the organization"
          },
          {
            "in": "query",
            "name": "filter[allowed-workspaces][name]",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Filters agent pools to those associated with the given workspace. The workspace must have permission to use the agent pool."
          },
          {
            "in": "query",
            "name": "q",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "A search query string. Agent pools are searchable by name."
          },
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Allows sorting the returned agents pools. Valid values are \"name\" and \"created-at\". Prepending a hyphen to the sort parameter will reverse the order (e.g. \"-name\")."
          },
          {
            "$ref": "#/components/parameters/page_number"
          },
          {
            "$ref": "#/components/parameters/page_size"
          }
        ],
        "responses": {
          "200": {
            "description": "Agent pools",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/agent-pools"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "pagination": {
                          "$ref": "#/components/schemas/pagination"
                        }
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/self-with-pagination"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    },
    "/agent-pools/{agent_pool_id}": {
      "get": {
        "operationId": "getAgentPool",
        "summary": "Get Agent Pool details",
        "description": "Get details about an agent pool",
        "tags": [
          "agent-pools"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "agent_pool_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Agent Pool ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Agent pool details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/agent-pools-envelope"
                }
              }
            }
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateAgentPool",
        "summary": "Update Agent Pool",
        "description": "Update an agent pool",
        "tags": [
          "agent-pools"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "agent_pool_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Agent Pool ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/agent-pools-envelope"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent pool updated",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/agent-pools-envelope"
                }
              }
            }
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteAgentPool",
        "summary": "Delete Agent Pool",
        "description": "Delete an agent pool",
        "tags": [
          "agent-pools"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "agent_pool_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Agent Pool ID"
          }
        ],
        "responses": {
          "204": {
            "description": "Agent pool deleted"
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    },
    "/agent-pools/{agent_pool_id}/agents": {
      "get": {
        "operationId": "listAgents",
        "summary": "List Agents",
        "description": "List all agents in the specified agent pool.",
        "tags": [
          "agent-pools"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "agent_pool_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The ID of the Agent Pool to list."
          },
          {
            "in": "query",
            "name": "filter[last-ping-since]",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "required": false,
            "description": "Accepts a date in ISO8601 format (ex. `2020-08-11T10:41:23Z`)."
          },
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Allows sorting the returned agents. Valid value is \"created-at\". Prepending a hyphen to the sort parameter will reverse the order (e.g. \"-name\")."
          },
          {
            "$ref": "#/components/parameters/page_number"
          },
          {
            "$ref": "#/components/parameters/page_size"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/agents"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "pagination": {
                          "$ref": "#/components/schemas/pagination"
                        }
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/self-with-pagination"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Agent Pool not found, or user unauthorized to perform action",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    },
    "/agents/{agent_id}": {
      "get": {
        "operationId": "getAgent",
        "summary": "Get Agent details",
        "description": "Get details about an agent",
        "tags": [
          "agent-pools"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "agent_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Agent ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Agent details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/agents-envelope"
                }
              }
            }
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteAgent",
        "summary": "Delete Agent",
        "description": "Remove an agent",
        "tags": [
          "agent-pools"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "agent_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Agent ID"
          }
        ],
        "responses": {
          "204": {
            "description": "Agent removed"
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    },
    "/organizations": {
      "get": {
        "operationId": "listOrganizations",
        "summary": "List Organizations",
        "description": "List organizations.",
        "tags": [
          "organizations"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "include",
            "schema": {
              "type": "string",
              "enum": [
                "subscription"
              ]
            },
            "required": false,
            "description": "Optionally side-load relationships of the specified name"
          },
          {
            "in": "query",
            "name": "q",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "A search query string. Organizations are searchable by name and notification email."
          },
          {
            "in": "query",
            "name": "q[email]",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "A search query string. This query searches organizations by notification email."
          },
          {
            "in": "query",
            "name": "q[name]",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "A search query string. This query searches organizations by name."
          },
          {
            "$ref": "#/components/parameters/page_number"
          },
          {
            "$ref": "#/components/parameters/page_size"
          }
        ],
        "responses": {
          "200": {
            "description": "Organizations list",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/organizations"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "pagination": {
                          "$ref": "#/components/schemas/pagination"
                        }
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/self-with-pagination"
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/subscriptions"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createOrganization",
        "summary": "Create Organization",
        "description": "Create an organization.",
        "tags": [
          "organizations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/organizations-envelope"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Organization created",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/organizations-envelope"
                }
              }
            }
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_name}": {
      "get": {
        "operationId": "getOrganization",
        "summary": "Get Organization details",
        "description": "Get details about an organization.",
        "tags": [
          "organizations"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization_name",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Organization Name"
          },
          {
            "in": "query",
            "name": "include",
            "schema": {
              "type": "string",
              "enum": [
                "subscription"
              ]
            },
            "required": false,
            "description": "Optionally side-load relationships of the specified name"
          }
        ],
        "responses": {
          "200": {
            "description": "Organization details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/organizations-envelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "included": {
                          "type": "array",
                          "items": {
                            "anyOf": [
                              {
                                "$ref": "#/components/schemas/subscriptions"
                              }
                            ]
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "organizations"
        ],
        "operationId": "updateOrganization",
        "summary": "Update Organization",
        "description": "Update an organization.",
        "parameters": [
          {
            "in": "path",
            "name": "organization_name",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Organization Name"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/organizations-envelope"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Organization updated",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/organizations-envelope"
                }
              }
            }
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "organizations"
        ],
        "operationId": "updateOrganization",
        "summary": "Update Organization",
        "description": "Update an organization.",
        "parameters": [
          {
            "in": "path",
            "name": "organization_name",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Organization Name"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/organizations-envelope"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Organization updated",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/organizations-envelope"
                }
              }
            }
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteOrganization",
        "summary": "Delete Organization",
        "description": "Delete an organization.",
        "tags": [
          "organizations"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization_name",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Organization Name"
          }
        ],
        "responses": {
          "204": {
            "description": "Organization deleted"
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_name}/organization-memberships": {
      "get": {
        "operationId": "listOrganizationMemberships",
        "summary": "List Organization Memberships",
        "description": "List all memberships in an organization. This includes both active members and invited users who have not yet accepted their invitation.",
        "tags": [
          "organization-memberships"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization_name",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The name of the organization to list memberships for"
          },
          {
            "in": "query",
            "name": "q",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "A search query string. Memberships are searchable by user name or email (case-insensitive)."
          },
          {
            "in": "query",
            "name": "filter[status]",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "invited"
              ]
            },
            "required": false,
            "description": "Filter memberships by status. Can be \"active\" or \"invited\"."
          },
          {
            "in": "query",
            "name": "filter[email]",
            "schema": {
              "type": "string",
              "format": "email"
            },
            "required": false,
            "description": "Filter memberships by exact email address match."
          },
          {
            "in": "query",
            "name": "include",
            "schema": {
              "type": "string",
              "enum": [
                "user",
                "teams"
              ]
            },
            "required": false,
            "description": "Optionally side-load relationships. Can include \"user\" or \"teams\"."
          },
          {
            "$ref": "#/components/parameters/page_number"
          },
          {
            "$ref": "#/components/parameters/page_size"
          }
        ],
        "responses": {
          "200": {
            "description": "Organization memberships list",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/organization-memberships"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "pagination": {
                          "$ref": "#/components/schemas/pagination"
                        }
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/self-with-pagination"
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/users"
                          },
                          {
                            "$ref": "#/components/schemas/teams"
                          },
                          {
                            "$ref": "#/components/schemas/organizations"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid filter or include parameter",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "404": {
            "description": "Organization not found, or user unauthorized to perform action",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createOrganizationMembership",
        "summary": "Invite a User to an Organization",
        "description": "Invite a user to join an organization. Users can be invited by email address.",
        "tags": [
          "organization-memberships"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization_name",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The name of the organization the user will be invited to join"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/organization-memberships-envelope"
              },
              "examples": {
                "inviteUser": {
                  "summary": "Invite a user to an organization with team memberships",
                  "value": {
                    "data": {
                      "type": "organization-memberships",
                      "attributes": {
                        "email": "user@example.com"
                      },
                      "relationships": {
                        "teams": {
                          "data": [
                            {
                              "type": "teams",
                              "id": "team-GeLZkdnK6xAVjA5H"
                            },
                            {
                              "type": "teams",
                              "id": "team-XxEoUFzP9pW3r5d1"
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully invited the user",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/organization-memberships-envelope"
                }
              }
            }
          },
          "400": {
            "description": "Unable to invite user due to organization limits",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "404": {
            "description": "Organization not found, or user unauthorized to perform action",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "422": {
            "description": "Unable to invite user due to validation errors (e.g., invalid email, missing teams)",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    },
    "/organization-memberships": {
      "get": {
        "operationId": "listUserOrganizationMemberships",
        "summary": "List User's Own Organization Memberships",
        "description": "List all organization memberships for the currently authenticated user.",
        "tags": [
          "organization-memberships"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "include",
            "schema": {
              "type": "string",
              "enum": [
                "user",
                "teams",
                "organization"
              ]
            },
            "required": false,
            "description": "Optionally side-load relationships. Can include \"user\", \"teams\", or \"organization\"."
          },
          {
            "$ref": "#/components/parameters/page_number"
          },
          {
            "$ref": "#/components/parameters/page_size"
          }
        ],
        "responses": {
          "200": {
            "description": "User's organization memberships list",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/organization-memberships"
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/self-with-pagination"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "pagination": {
                          "$ref": "#/components/schemas/pagination"
                        }
                      }
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/users"
                          },
                          {
                            "$ref": "#/components/schemas/teams"
                          },
                          {
                            "$ref": "#/components/schemas/organizations"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    },
    "/organization-memberships/{organization_membership_id}": {
      "get": {
        "operationId": "getOrganizationMembership",
        "summary": "Show Organization Membership",
        "description": "Get details about a specific organization membership.",
        "tags": [
          "organization-memberships"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization_membership_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The organization membership ID"
          },
          {
            "in": "query",
            "name": "include",
            "schema": {
              "type": "string",
              "enum": [
                "user",
                "teams"
              ]
            },
            "required": false,
            "description": "Optionally side-load relationships. Can include \"user\" or \"teams\"."
          }
        ],
        "responses": {
          "200": {
            "description": "Organization membership details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/organization-memberships-envelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "included": {
                          "type": "array",
                          "items": {
                            "anyOf": [
                              {
                                "$ref": "#/components/schemas/users"
                              },
                              {
                                "$ref": "#/components/schemas/teams"
                              }
                            ]
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Organization membership not found, or user unauthorized to perform action",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteOrganizationMembership",
        "summary": "Remove User from Organization",
        "description": "Remove a user from an organization. You cannot remove yourself from organizations which you own.",
        "tags": [
          "organization-memberships"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization_membership_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The organization membership ID"
          }
        ],
        "responses": {
          "204": {
            "description": "Successfully removed the user from the organization"
          },
          "403": {
            "description": "Unable to remove the user. You cannot remove yourself from organizations which you own.",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "404": {
            "description": "Organization membership not found, or user unauthorized to perform action",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_name}/projects": {
      "get": {
        "operationId": "listProjects",
        "summary": "List Projects",
        "description": "List all projects in an organization.",
        "tags": [
          "projects"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization_name",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The name of the organization."
          },
          {
            "in": "query",
            "name": "filter[names]",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Comma-separated list of project names to filter by."
          },
          {
            "in": "query",
            "name": "filter[permissions][create-workspace]",
            "schema": {
              "type": "boolean"
            },
            "required": false,
            "description": "If present, returns a list of projects that the authenticated user can create workspaces in."
          },
          {
            "in": "query",
            "name": "filter[permissions][update]",
            "schema": {
              "type": "boolean"
            },
            "required": false,
            "description": "If present, returns a list of projects that the authenticated user can update."
          },
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Optional. Allows sorting the organization's projects by \"name\". Prepending a hyphen to the sort parameter reverses the order. For example, \"-name\" sorts by name in reverse alphabetical order. If omitted, the default sort order is arbitrary but stable.\n"
          },
          {
            "$ref": "#/components/parameters/page_number"
          },
          {
            "$ref": "#/components/parameters/page_size"
          }
        ],
        "responses": {
          "200": {
            "description": "List of projects",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/projects"
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/self-with-pagination"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/pagination"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createProject",
        "summary": "Create a Project",
        "description": "Create a new project in an organization.",
        "tags": [
          "projects"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization_name",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The name of the organization."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/projects-envelope"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Project created",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/projects-envelope"
                }
              }
            }
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_name}/token-ttl-policies": {
      "get": {
        "operationId": "listTokenTtlPolicies",
        "summary": "List Token TTL Policies",
        "description": "List all token TTL policies for an organization.",
        "tags": [
          "token-ttl-policies"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization_name",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The name of the organization to list token TTL policies for"
          }
        ],
        "responses": {
          "200": {
            "description": "Token TTL policies list",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/token-ttl-policy"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "User is not part of the owners team of the organization",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "404": {
            "description": "Organization does not exist or user does not belong to the organization",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "upsertTokenTtlPolicies",
        "summary": "Create or Update Token TTL Policies",
        "description": "Create or Update token TTL policies for an organization.",
        "tags": [
          "token-ttl-policies"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization_name",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The name of the organization"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/token-ttl-policies-envelope"
              },
              "examples": {
                "upsert": {
                  "summary": "Upsert token TTL policies",
                  "value": {
                    "data": {
                      "type": "organization-token-ttl-policies",
                      "attributes": {
                        "token-ttl-policies": [
                          {
                            "token-type": "organization",
                            "max-ttl-ms": 5184000000
                          },
                          {
                            "token-type": "user",
                            "max-ttl-ms": 189216000000
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created or updated token TTL policies",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/token-ttl-policy"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "User is not part of the owners team of the organization",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "404": {
            "description": "Organization does not exist or user does not belong to the organization",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "422": {
            "description": "Unable to create token TTL policy due to validation errors",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}": {
      "get": {
        "operationId": "getProject",
        "summary": "Get Project",
        "description": "Get details of a specific project.",
        "tags": [
          "projects"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The ID of the project."
          }
        ],
        "responses": {
          "200": {
            "description": "Project details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/projects-envelope"
                }
              }
            }
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateProject",
        "summary": "Update Project",
        "description": "Update an existing project.",
        "tags": [
          "projects"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The ID of the project."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/projects-envelope"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Project updated",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/projects-envelope"
                }
              }
            }
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteProject",
        "summary": "Delete Project",
        "description": "Delete a project.",
        "tags": [
          "projects"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The ID of the project."
          }
        ],
        "responses": {
          "204": {
            "description": "Project deleted"
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/relationships/workspaces": {
      "post": {
        "operationId": "moveWorkspacesIntoProject",
        "summary": "Move Workspaces into a Project",
        "description": "Move one or more workspaces into a project. You must have permission to move workspaces on the destination project as well as any source project(s). If you are not authorized to move any of the workspaces in the request, or if any workspaces in the request are not found, then no workspaces will be moved.\n",
        "tags": [
          "projects"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "project_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The ID of the destination project."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/workspaces-identifier-array-document"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Successfully moved workspace(s)."
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_name}/workspaces": {
      "get": {
        "operationId": "listWorkspaces",
        "summary": "List Workspaces",
        "description": "List all workspaces in an organization.",
        "tags": [
          "workspaces"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization_name",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The name of the organization."
          },
          {
            "in": "query",
            "name": "search[name]",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Partial name to filter workspaces by name."
          },
          {
            "in": "query",
            "name": "search[wildcard-name]",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Wildcard name filter for workspaces."
          },
          {
            "in": "query",
            "name": "filter[current-run][status]",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Comma-separated list of run statuses to filter workspaces by."
          },
          {
            "in": "query",
            "name": "filter[project][id]",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Filter workspaces by project external ID."
          },
          {
            "in": "query",
            "name": "filter[tagged]",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Filter workspaces by tag names."
          },
          {
            "in": "query",
            "name": "filter[tagged][value]",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Filter workspaces by tag key=value pairs."
          },
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Sort workspaces. Valid values include name, current-run.created-at. Prefix with a hyphen (e.g., -name) to sort in descending order.\n"
          },
          {
            "in": "query",
            "name": "include",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Comma-separated list of relationship names to side-load (e.g., current_run, readme, effective_tag_bindings).\n"
          },
          {
            "$ref": "#/components/parameters/page_number"
          },
          {
            "$ref": "#/components/parameters/page_size"
          }
        ],
        "responses": {
          "200": {
            "description": "List of workspaces",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/workspaces"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "pagination": {
                          "$ref": "#/components/schemas/pagination"
                        },
                        "status-counts": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/self-with-pagination"
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Organization not found or user unauthorized to view workspaces",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createWorkspace",
        "summary": "Create a Workspace",
        "description": "Create a new workspace in an organization.",
        "tags": [
          "workspaces"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization_name",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The name of the organization."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/workspaces-envelope"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Workspace created",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/workspaces-envelope"
                }
              }
            }
          },
          "404": {
            "description": "Organization not found or user unauthorized to create workspaces",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "422": {
            "description": "Malformed request body or validation error",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_name}/workspaces/{workspace_name}": {
      "get": {
        "operationId": "getWorkspaceByName",
        "summary": "Get a Workspace by Name",
        "description": "Get details of a workspace by organization name and workspace name.",
        "tags": [
          "workspaces"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization_name",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The name of the organization."
          },
          {
            "in": "path",
            "name": "workspace_name",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The name of the workspace."
          },
          {
            "in": "query",
            "name": "include",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Optionally side-load relationships. Comma-separated list of relationship names (e.g. current_run, current_state_version, locked_by, outputs, project, agent_pool).\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Workspace details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/workspaces-envelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "included": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Workspace not found or user unauthorized to view workspace",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateWorkspaceByName",
        "summary": "Update a Workspace by Name",
        "description": "Update settings of an existing workspace by organization name and workspace name.",
        "tags": [
          "workspaces"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization_name",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The name of the organization."
          },
          {
            "in": "path",
            "name": "workspace_name",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The name of the workspace."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/workspaces-envelope"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workspace updated",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/workspaces-envelope"
                }
              }
            }
          },
          "404": {
            "description": "Workspace not found or user unauthorized to view workspace",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "422": {
            "description": "Malformed request body",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteWorkspaceByName",
        "summary": "Delete a Workspace by Name",
        "description": "Delete a workspace by organization name and workspace name. This permanently removes the workspace and all its associated data.\n",
        "tags": [
          "workspaces"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization_name",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The name of the organization."
          },
          {
            "in": "path",
            "name": "workspace_name",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The name of the workspace."
          }
        ],
        "responses": {
          "204": {
            "description": "Workspace deleted"
          },
          "404": {
            "description": "Workspace not found or user unauthorized to delete workspace",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "default": {
            "description": "Error details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_name}/workspaces/{workspace_name}/actions/safe-delete": {
      "post": {
        "operationId": "safeDeleteWorkspaceByName",
        "summary": "Safe Delete a Workspace by Name",
        "description": "Delete a workspace by organization name and workspace name only if it has no resources under management. Returns a conflict error if the workspace has managed resources or is locked.\n",
        "tags": [
          "workspaces"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization_name",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The name of the organization."
          },
          {
            "in": "path",
            "name": "workspace_name",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The name of the workspace."
          }
        ],
        "responses": {
          "204": {
            "description": "Workspace deleted"
          },
          "404": {
            "description": "Workspace not found or user unauthorized to delete workspace",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "409": {
            "description": "Workspace has managed resources or is locked and cannot be safely deleted",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "default": {
            "description": "Error details",
            "content": {
[...]
