name: Jira Issue Sync

on:
  issues:
    types: [opened, closed, deleted, reopened]
  issue_comment:
    types: [created]

jobs:
  call-workflow:
    uses: hashicorp/terraform-provider-tfe/.github/workflows/jira-issue-sync.yml@main
    with:
      project: TF
      issue-extra-fields: |
        { "customfield_10091": ["TF-CLI"],
          "components": [{ "name": "Go-TFE" }] }
    secrets: inherit
