name: Linter
on:
  push:
    branches: [ main ]
  pull_request:
jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version-file: 'go.mod'
      - uses: golangci/golangci-lint-action@v3
        with:
          version: v1.42
