name: Nightly TFE Tests
on:
  workflow_dispatch:
  schedule:
    - cron: 0 0 * * *

jobs:
  instance:
    runs-on: ubuntu-latest
    steps:
      - name: terraform-cloud/run
        uses: hashicorp-forge/terraform-cloud-action/run@v1
        with:
          organization: hashicorp-v2
          workspace: tflocal-go-tfe-nightly
          token: ${{ secrets.TF_WORKFLOW_TFLOCAL_CLOUD_TFC_TOKEN }}
          wait: true

  tests:
    needs: instance
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        total: [ 4 ]
        index: [ 0, 1, 2, 3 ]

    steps:
      - name: terraform-cloud/outputs
        id: tflocal
        uses: hashicorp-forge/terraform-cloud-action/outputs@v1
        with:
          token: ${{ secrets.TF_WORKFLOW_TFLOCAL_CLOUD_TFC_TOKEN }}
          organization: hashicorp-v2
          workspace: tflocal-go-tfe-nightly

      - name: Checkout code
        uses: actions/checkout@v3

      - uses: ./.github/actions/test-go-tfe
        with:
          matrix_index: ${{ matrix.index }}
          matrix_total: ${{ matrix.total }}
          address: ${{ fromJSON(steps.tflocal.outputs.workspace-outputs-json).tfe_address }}
          token: ${{ fromJSON(steps.tflocal.outputs.workspace-outputs-json).tfe_token }}
          oauth-client-github-token: ${{ secrets.OAUTH_CLIENT_GITHUB_TOKEN }}
          enterprise: "1"

  tests-summarize:
    needs: [ tests ]
    runs-on: ubuntu-latest
    if: ${{ always() }}
    steps:
      - name: Check tests Status
        run: |
          if [ "${{ needs.tests.result }}" = "success" ]; then
            exit 0
          fi
          exit 1

#   slack-notify:
#     needs: tests
#     if: always() && (needs.tests.result == 'failure')
#     runs-on: ubuntu-latest
#     steps:
#       - name: Send slack notification on failure
#         uses: slackapi/slack-github-action@v1.23.0
#         with:
#           payload: |
#             {
#               "text": ":x::moon::sob: Nightly TFE tests *FAILED*",
#               "attachments": [
#                 {
#                   "color": "#C41E3A",
#                   "blocks": [
#                     {
#                       "type": "section",
#                       "fields": [
#                         {
#                           "type": "mrkdwn",
#                           "text": "*Workflow:*\n${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
#                         }
#                       ]
#                     }
#                   ]
#                 }
#               ]
#             }
#         env:
#           SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
#           SLACK_WEBHOOK_TYPE: INCOMING_WEBHOOK

  cleanup:
    runs-on: ubuntu-latest
    needs: ["tests-summarize"]
    if: "${{ always() }}"
    steps:
      - name: terraform-cloud/destroy
        uses: hashicorp-forge/terraform-cloud-action/destroy@v1
        with:
          token: ${{ secrets.TF_WORKFLOW_TFLOCAL_CLOUD_TFC_TOKEN }}
          organization: hashicorp-v2
          workspace: tflocal-go-tfe-nightly
